<img class="logo" src="assets/images/logo-reg2x.png"/>

<div class="earth">
</div>

<div class="top-titles" {{bind-attr style=topTitlesStyle}}>
  <svg></svg>
  <div class="trending">POPULAR NOW</div>
</div>

<div class="hover" {{bind-attr style="hoverStyle"}}>
  <div class="image">
    <img {{bind-attr src=hoverImageSrc}} />
  </div>
  <div class="title">
    {{hoverTitle}}
  </div>
</div>

<div class="display-options">
  <label>Box Art</label>{{input type="checkbox" name="boxart" checked=showBoxart}}
  <label>Dots</label>{{input type="checkbox" name="dots" checked=showDots}}
  <label>Top 10</label>{{input type="checkbox" name="top10" checked=showTop10}}
</div>

